<div class="container-fluid">
  <div class="row bg-white my-5 px-5">
    <h2 class="mb-3">Group Dining at Eatery</h2>
    <p class="my-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi veniam
      placeat ipsum praesentium architecto nulla culpa enim, odio numquam
      voluptates quaerat, ut rem. Laborum cumque inventore atque pariatur. Harum
      hic accusamus soluta amet voluptas doloremque. Voluptatem, debitis
      possimus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Adipisci, incidunt.
    </p>
    <p class="my-4">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, maiores.
      Lorem ipsum dolor sit amet consectetur adipisicing. Lorem ipsum, dolor sit
      amet consectetur adipisicing elit. Nisi, a?
      <span class="d-inline-block fw-bold"
        >The menu covers the most popular Georgian dishes. Pair them for the
        complete experience</span
      >
    </p>
    <button class="btn btn-outline-dark my-2 py-3 px-4 mx-auto">
      View the Menu
    </button>
    <p class="my-4">
      Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. Iure. adipisicing elit.
      Iure labore quis soluta nihil perferendis pariatur?
      <span class="d-inline-block fw-bold"
        >If you choose to create your own combination from our menu, we'll be
        happy to serve it too.</span
      >
    </p>
    <button class="btn btn-warning my-2 py-3 px-4 mx-auto">
      Make a Reservation
    </button>
  </div>
</div>
