img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
h3 {
  color: darkgoldenrod;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}
.form-row {
  margin-bottom: 3%;
  margin-inline: 1%;
}
input,
select {
  width: 100%;
  height: 50px;
  padding: 1%;
  border: 0;
}
input[type="text"],
select {
  border-bottom: 1px solid black;
}
label {
  width: 100%;
  color: darkgoldenrod;
}
select {
  margin-inline: 0%;
}
.error-msg {
  color: rgb(133, 4, 4);
  background-color: rgb(255, 217, 217);
  font-size: 15px;
  font-weight: 400;
}
button {
  font-size: 18px;
  color: darkgoldenrod;
  width: fit-content;
}
