<div class="container my-3">
  <div class="row">
    <div class="col-4">
      <img
        class="item-img"
        src="https://menu.bevri.com/uploads/1/2/9/4/129418926/s237899252658155039_p3_i7_w1280.jpeg?dpr=1.25"
      />
    </div>
    <div class="col-6">
      <p class="item-name row">Pkhali</p>
      <div class="row">
        <button class="btn btn-outline-dark col-2">
          <i class="fa-solid fa-minus"></i>
        </button>
        <p class="col-2 item-count">1</p>
        <button class="btn btn-outline-dark col-2">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="col-2">
      <p class="row item-price mx-3">$20.00</p>
      <button class="row btn btn-danger mx-auto">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>
