<div class="container-fluid">
  <div class="row bg-black py-3" id="brief">
    <div class="col-4 ms-5">
      <img
        class="rest-img"
        src="https://static.wixstatic.com/media/a560a5_7e7bc9bca5bc41a8b67f34adb1676e7e~mv2_d_2400_3600_s_4_2.jpg/v1/fill/w_713,h_1069,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bevri_website_gift_card.jpg"
      />
    </div>
    <div class="col-4 ms-3 text-center my-3">
      <h1 class="text-warning" id="logo">Eatery</h1>
      <p class="text-light my-4 fs-2" id="brief">
        Unique Georgian Food Experience in San Francisco Bay Area
      </p>
      <p class="text-light fs-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        vero repellendus culpa deleniti amet eligendi qui recusandae. Dolor
        recusandae culpa eos ducimus fugit perferendis eveniet porro odio.
        Tempora consectetur non voluptate? Facere fugiat ab tempora.
      </p>
      <p class="text-light fs-5">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
        voluptate impedit assumenda, totam illo qui similique voluptates
        suscipit commodi et!
      </p>
      <button class="btn btn-outline-warning text-center px-4 py-2 mt-4">
        Menu
      </button>
    </div>
    <div class="col-2 ms-2">
      <img
        id="greens-img"
        src="https://static.wixstatic.com/media/a560a5_b853391614784564812f6615dcee4971~mv2.png/v1/crop/x_0,y_36,w_2655,h_2656/fill/w_459,h_459,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/greens.png"
      />
    </div>
  </div>
  <div class="row bg-white py-5" id="cuisine">
    <h4 class="fs-2 text-center mb-2">Discover Georgian Cuisine</h4>
    <div class="row py-5">
      <div class="col-3 text-center">
        <a href="#" class="text-black">
          <img
            class=""
            src="https://static.wixstatic.com/media/a560a5_433372453339404ebb21fd73cb6083ad~mv2_d_2400_3600_s_4_2.jpg/v1/fill/w_396,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/bevri_website_gift_card2.jpg"
          />
          <h4 class="fs-3 mt-3">Menu</h4>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="text-black">
          <img
            class=""
            src="https://static.wixstatic.com/media/a560a5_a0ce25551b654359947482c3688ba1a0~mv2_d_2400_3600_s_4_2.jpg/v1/fill/w_396,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/bevri_website_lunch_and_dinner.jpg"
          />
          <h4 class="fs-3 mt-3">Store</h4>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="text-black">
          <img
            class=""
            src="https://static.wixstatic.com/media/a560a5_7e7bc9bca5bc41a8b67f34adb1676e7e~mv2_d_2400_3600_s_4_2.jpg/v1/fill/w_396,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/bevri_website_gift_card.jpg"
          />
          <h4 class="fs-3 mt-3">Catering</h4>
        </a>
      </div>
    </div>
    <button class="btn btn-dark py-2 px-4 mt-4">Make a Reservation</button>
  </div>
  <div class="row" id="bg-img"></div>
  <div class="row bg-white py-5" id="map">
    <div class="col-4 mt-5 mx-5">
      <h4 class="fs-2">Georgia</h4>
      <p class="fs-5 my-5">
        Georgia (Sakartvelo), a country at the intersection of Europe and Asia,
        is resting high in the Caucasus mountains. It lays on the shore of the
        Black Sea, between Turkey and Russia. Thanks to its location, Georgia
        has been influenced by a variety of eastern and western civilizations,
        resulting in a unique cultural heritage.
      </p>
      <button class="btn btn-dark py-2 px-4 mt-4">Read More</button>
    </div>
    <div class="col-4 mx-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020819.8906076415!2d43.357659500000004!3d42.32078445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440cd7e64f626b%3A0x4f907964122d4ac2!2sGeorgia!5e0!3m2!1sen!2seg!4v1674749118253!5m2!1sen!2seg"
        width="600"
        height="500"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
