<div class="container my-2">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <p class="item-name">Pkhali</p>
      </div>
      <div class="row">
        <p class="item-description">
          Hand-chopped baby spinach and beets pkhali with walnuts and herbs.
          Served with eggplant rolls and grilled rosemary bread with olives.
        </p>
      </div>
      <div class="row">
        <p class="item-price">$20.00</p>
      </div>
    </div>
    <div class="col-4">
      <img
        class="item-img mt-4"
        src="https://menu.bevri.com/uploads/1/2/9/4/129418926/s237899252658155039_p3_i7_w1280.jpeg?dpr=1.25"
      />
    </div>
  </div>
</div>
